---
layout: page
title: About
---

<div class="o-grid o-grid--large">
    <div class="o-grid__cell u-1/1 u-1/4@tablet">
        {% include luigi-img.html src="/assets/img/luigi/standing.png" ratio="254.9488" alt="Luigi standing" class="o-img-sticky" %}
    </div>
    <div class="o-grid__cell o-grid__cell--switch-mobile u-1/1 u-3/4@tablet">
        <h1>About LFGG</h1>
        <p>Luigi&rsquo;s Fan Game Gallery is a community dedicated to preserving and further developing the art of <strong>fan games</strong>&mdash;video games created by fans, for fans. With our wide variety of skills and passions, we aim to bring each other&rsquo;s projects to life. We welcome contributors of any kind, including programmers, artists, musicians, writers, critics, and anyone else with great ideas. People of all skill levels are encouraged to join and hone their talents.</p>
        <p>Very simply, our goal is to bring a wide variety of hobbyists together so we can learn, grow, and&mdash;most importantly&mdash;make some cool games! At-home video game development has never been more accessible than it is now, and we plan to give people all the resources they may need to make the game of their dreams.</p>
        <p><strong>Why Luigi?</strong> Luigi may not be as popular as his older brother Mario, but he stays true to his colors and even goes on his own adventures. Fan game creators are the same way&mdash;we may not have huge budgets and top-notch development teams at our disposal, but by working together in our spare time, we can build free content that is capable of coexisting comfortably in the Player 2 spot.</p>
        <p>By the way, Luigi is open-minded. He doesn&rsquo;t only allow Nintendo games. You can feel free to showcase any and all projects here!</p>
        <h2>Our Storied Past</h2>
        <p>Inspired by our lengthy time over the years in the Mario fan games community, <a href="https://www.mfgg.net">Mario Fan Games Galaxy</a>, we wanted a place where we could engage with developers and enthusiasts beyond the Mario community and feature their works. We especially wanted to feature fan works from other Nintendo fan game communities who had vanished from the internet such as Metroid: Fan Mission and Zelda Fan Game Network. With your help, we can do that!</p>
        <p>With some of us being former staff at other fan game communities, we hope to bring the best of our experiences there to the table as well as putting our own spin on what a fan game community is like!</p>
        <h2>About Fan Games</h2>
        <p>Fan games (or fangames) have a long and rich history on the internet. For over 20 years, people have come together in these types of communities to make their most bizarre ideas a reality. We all love the big video game franchises&mdash;Mario, Sonic, Zelda, etc.&mdash;but the official games go through so many filters and focus groups that most of the weirdness gets stripped away. The appeal of fan gaming is that we can create and play exactly the type of games we want, and distribute them for free amongst our friends. In that way, we can serve a very niche demand, and produce content that exists symbiotically alongside official games.</p>
    </div>
</div>

<hr>

<div class="o-wrapper o-wrapper--small u-text-center">
    <h2 class="u-h1">Community stuff</h2>
    <p class="u-margin-bottom-large u-h3">LFGG's success relies on a strong, active community. There are two main venues that we use for communication.</p>
</div>

{% include main-links.html %}

<hr>

<div class="o-wrapper o-wrapper--small u-text-center">
    <h2 class="u-h1">Who made LFGG?</h2>
    <p class="u-h3">For info on LFGG's creation, check out our <a href="/credits">Site Credits</a> page.</p>
</div>


