---
layout: default
title: Home
---

<section id="page-content" class="c-section c-section--primary c-page-content u-padding-bottom-large">
    <h1 class="u-hidden-visually">
        Luigi's Fan Game Gallery
    </h1>

    <div class="o-wrapper">
        <div class="o-grid o-grid--large u-margin-bottom">
            <div class="o-grid__cell u-1/1 u-3/4@tablet u-2/3@desktop">
                <h2 class="u-h1 c-section__title">
                    Let&rsquo;s make some new games!<br>
                    <span class="u-h3 c-section__subtitle">(and some new friends)</span>
                </h2>

                <p>Luigi&rsquo;s Fan Game Gallery is a community dedicated to preserving and further developing the art of <strong>fan games</strong>&mdash;video games created by fans, for fans. With our wide variety of skills and passions, we aim to bring each other&rsquo;s projects to life. We welcome contributors of any kind, including programmers, artists, musicians, writers, critics, and anyone else with great ideas. People of all skill levels are encouraged to join and hone their talents.</p>

                <p><strong>Why Luigi?</strong> Luigi may not be as popular as his older brother Mario, but he stays true to his colors and even goes on his own adventures. Fan game creators are the same way&mdash;we may not have huge budgets and top-notch development teams at our disposal, but by working together in our spare time, we can build free content that is capable of coexisting comfortably in the Player 2 spot.</p>

                <p><strong>Disclaimer</strong> Any fan games featured and shared here are made without expressed written consent or knowledge of the copyright holders involved. These works do not represent the official works in any way and are made and distributed for free purely for educational and entertainment purposes. Any fan game that is used for financial gain including but not limited to ad revenue, asking for donations, selling the fan game directly or on an app/software store will be removed immediately without debate.</p>

                <div class="u-text-center u-margin-bottom-large">
                    <a class="c-btn u-margin-top" href="/about">More about us</a>
                </div>
            </div>

            <div class="o-grid__cell u-1/1 u-1/4@tablet u-1/3@desktop">
                {% include luigi-img.html src="/assets/img/luigi/running-waving.png" ratio="154.8333" alt="Luigi running and waving" %}
            </div>
        </div>

        {% include main-links.html %}
    </div>
</section>

{% include newsletters.html viewmore="true" %}

                <div class="u-text-center u-margin-bottom-large">
                    <a class="c-btn u-margin-top" href="/about">More about us</a>
                </div>
            </div>

            <div class="o-grid__cell u-1/1 u-1/4@tablet u-1/3@desktop">
                {% include luigi-img.html src="/assets/img/luigi/running-waving.png" ratio="154.8333" alt="Luigi running and waving" %}
            </div>
        </div>

        {% include main-links.html %}
    </div>
</section>

{% include newsletters.html viewmore="true" %}
