---
layout: default
title: Home
---

<section id="page-content" class="c-section c-section--primary c-page-content u-padding-bottom-large">
    <h1 class="u-hidden-visually">
        Luigi's Fan Game Gallery
    </h1>

    <div class="o-wrapper">
        <div class="o-grid o-grid--large u-margin-bottom">
            <div class="o-grid__cell u-1/1 u-1/4@tablet u-1/3@desktop">
                {% include luigi-img.html src="/assets/img/luigi/mit-luigi.png" ratio="249.415" alt="Luigi" %}
            </div>

            <div class="o-grid__cell u-1/1 u-3/4@tablet u-2/3@desktop">
                <h2 class="u-h1 c-section__title">
                    Let&rsquo;s make some new games!<br>
                    <span class="u-h3 c-section__subtitle">(and some new friends)</span>
                </h2>

                <p>Luigi&rsquo;s Fan Game Gallery is a community dedicated to preserving and further developing the art of <strong>fan games</strong>&mdash;video games created by fans, for fans. With our wide variety of skills and passions, we aim to bring each other&rsquo;s projects to life. We welcome contributors of any kind, including programmers, artists, musicians, writers, critics, and anyone else with great ideas. People of all skill levels are encouraged to join and hone their talents.</p>

                <h3 class="u-margin-bottom-small">Why Luigi?</h3>
                <p>Luigi may not be as popular as his older brother Mario, but he stays true to his colors and even goes on his own adventures. Fan game creators are the same way&mdash;we may not have huge budgets and top-notch development teams at our disposal, but by working together in our spare time, we can build free content that is capable of coexisting comfortably in the Player 2 spot.</p>

                <h3 class="u-margin-bottom-small">Disclaimer</h3>
                <p>Any fan games featured and shared here are made without consent or knowledge of the copyright holders involved unless otherwise noted. These works do not represent the official works in any way and are made and distributed for free purely for educational and entertainment purposes. Any fan game that is used for financial gain including but not limited to ad revenue, asking for donations, selling the fan game directly or on an app/software store will be removed immediately without debate.</p>

                <p><strong>Rom hacks, game modifications and related resources</strong> are welcome in our community under very strict circumstances. You may only share a rom hack or modification in patch form. You <strong>must not</strong> share the base game or instructions on how to obtain the base game with your rom hack or modification. Your work must be transformative in nature as well, you must not share a rom hack that contains the base game's levels as is. This means your hack must be more involved than a graphics swap. Any rom hack or modification that does not adhere to these guidelines will be removed immediately without debate.</p>
                <div class="u-text-center u-margin-bottom-large">
                    <a class="c-btn u-margin-top" href="/about">More about us</a>
                </div>
            </div>
        </div>

        {% include main-links.html %}
    </div>
</section>

{% include newsletters.html viewmore="true" %}
