---
layout: page-newsletter
title: Newsletter
---

<h1 class="u-text-center">LFGG Newsletter</h1>

<div class="o-wrapper o-wrapper--small u-margin-bottom-large">
    <p>We periodically post updates on events within the community, new fangames, affiliates, etc. You can find them all here. If you just can't get enough of us, you can subscribe to be alerted whenever a new post is made.</p>
    <div class="u-text-center">
        <a class="c-btn" href="#subscribe">Subscribe Now</a>
    </div>
</div>

<hr>

<div class="c-filters">
    <p class="c-filters__label">Filter posts:</p>
    {% for category in site.categories %}
        <button class="c-filters__filter js-filter" data-category="{{ category[0] }}">
            {{ category[0] | capitalize }}
        </button>
    {% endfor %}
    <button class="c-filters__filter c-filters__filter--clear js-clear-filters">
        &times;
        <span class="u-hidden-visually">
            Clear filters
        </span>
    </button>
</div>

<div class="c-filter-posts">
    {% for post in site.posts %}
        {% include article-card.html post=post dark=false %}
    {% endfor %}
</div>