<article class="c-card c-card--excerpt {% if include.post.dark %}c-card--dark{% else %}c-card--light{% endif %} c-card--equal-height js-post-card" data-category="{{ post.categories[0] }}">
    <h3><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
    <p class="c-card__meta">
        {{ include.post.date | date: '%B %d, %Y' }}
    </p>
    <div class="c-card__content">
        {{ include.post.excerpt }}
    </div>
    <a class="c-btn c-btn--secondary" href="{{ include.post.url }}">Read now</a>
</article>