<section id="newsletters" class="c-section c-section--secondary">
    <div class="o-wrapper">
        <h2 class="c-section__title u-h1">
            From the Newsletter
        </h2>

        <ul class="o-grid o-grid--large u-margin-bottom-none">
            {% for post in site.categories.newsletter limit:3 %}
                <li class="o-grid__cell u-1/1 u-1/2@desktop">
                    <article class="c-card c-card--dark c-card--equal-height">
                        <h3>{{ post.title }}</h3>
                        <div class="c-card__content">
                            {{ post.excerpt }}
                        </div>
                        <a class="c-btn" href="{{ post.url }}">Read now</a>
                    </article>
                </li>
            {% endfor %}
        </ul>

        {% if include.viewmore %}
            <div class="u-text-center">
                <a class="c-btn" href="/newsletter">
                    View More
                </a>
            </div>
        {% endif %}
    </div>
</section>