<nav id="site-nav" class="c-site-nav">
    <a class="c-site-nav__item" href="/">
        Home
    </a>
    <a class="c-site-nav__item" href="/about">
        About
    </a>
    <a class="c-site-nav__item" href="/newsletter">
        Newsletter
    </a>
    <a class="c-site-nav__item" href="/diary">
        Luigi&rsquo;s Diary
    </a>
    <a class="c-site-nav__item c-site-nav__item--icon" href="/">
        <i class="c-icon c-icon--twitter">
            {% include icons/icon-twitter.svg %}
        </i>
    </a>
</nav>