.o-grid {
    &--middle {
        align-items: center;
    }

    &__cell {
        &--switch-mobile {
            @include mq($until: tablet) {
                order: -1;
            }
        }
    }

    &--large {
        @include mq($until: tablet) {
            margin-left: -$spacing;
        }

        > .o-grid__cell {
            @include mq($until: tablet) {
                padding-left: $spacing;
            }
        }
    }
}