$luigi-green-light:  desaturate(#4ca63d, 5%);
$luigi-green:        desaturate(#438838, 5%);
$luigi-green-dark:   desaturate(#37702f, 5%);
$luigi-green-darker: desaturate(#2e6027, 5%);
$luigi-blue-light:   #4867a3;
$luigi-blue:         #3b527e;
$luigi-blue-dark:    #2e4063;
$luigi-yellow-light: #fbd074;
$luigi-yellow:       #efb944;
$luigi-yellow-dark:  #bd8d24;
$luigi-brown-light:  #926d4c;
$luigi-brown:        #6a523c;
$luigi-brown-dark:   #4a3d31;
$luigi-white:        #f4f4f4;
$luigi-gray-light:   #e8e8e8;
$luigi-gray:         #aab3c7;
$luigi-gray-dark:    #767d8d;
$luigi-black-light:  #494d56;
$luigi-black:        #35383e;
$luigi-skyblue:      #2dc3ea;