.u-transition-fade {
    transition: $global-transition;
    opacity: 1;

    html.is-animating & {
        opacity: 0;
    }
}

.u-transition-zoom {
    transition: $global-transition;
    transform: none;

    html.is-animating & {
        transform: scale(0.9);
    }

    &--left {
        transform-origin: center right;
    }

    &--right {
        transform-origin: center left;
    }

    .o-grid__cell:nth-of-type(2):last-child & {
        transition-delay: 50ms;
    }
}