.c-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: $spacing;
    width: $spacing;

    &--emblem {
        height: 3.5rem;
        width: 3.5rem;
        background: url(/assets/img/emblem.svg) no-repeat top left / contain;

        svg {
            width: 60%;
            height: auto;
            fill: $luigi-green;
        }
    }
}