.c-section {
    position: relative;
    overflow: hidden;
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;

    @include mq($from: tablet) {
        padding-top: $spacing-huge;
        padding-bottom: $spacing-huge;
    }

    &__title {
        margin-bottom: $spacing-large;
        text-align: center;
    }

    &:first-of-type {
        padding-top: $spacing-large;

        @include mq($from: tablet) {
            padding-top: $spacing-large + $spacing;
        }
    }

    &--primary {
        //background: $luigi-green;
    }

    &--secondary {
        background: $luigi-blue;

        &:before {
            content: '';
            position: absolute;
            top: $spacing;
            left: 0;
            right: 0;
            height: 0;
            border-bottom: 4px dashed lighten($luigi-blue, 5%);
        }

        &:after {
            content: '';
            position: absolute;
            bottom: $spacing;
            left: 0;
            right: 0;
            height: 0;
            border-top: 4px dashed lighten($luigi-blue, 5%);
        }
    }

    &--tertiary {
        background: $luigi-brown;
    }

    &--subscribe {
        border-top: $spacing-small solid $luigi-brown-dark;

        a {
            color: $luigi-yellow;
        }
    }
}