.c-article {
    @extend .c-card;
    @extend .c-card--light;
    margin-bottom: $spacing-large;

    &--single {
        @include mq($from: desktop) {
            padding-left: $spacing-huge;
            padding-right: $spacing-huge;
            @include inuit-font-size(20px);
        }
    }

    &__header {
        position: relative;
        margin-bottom: $spacing;
        text-align: center;

        @include mq($from: tablet) {
            margin-bottom: $spacing-large;
        }

        /*&:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -30%;
            width: 60%;
            height: $spacing-tiny;
            background: $luigi-gray-light;
        }*/
    }

    &__title {
        color: $luigi-blue;
    }

    &__meta {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
        border-radius: $global-radius;
        background: $luigi-gray-light;

        .o-grid {
            margin: 0 auto;
        }

        .c-meta {
            text-align: left;
            border-style: solid;
            border-color: darken($luigi-gray-light, 5%);
            border-width: 0;
            border-top-width: $spacing-tiny/2;
            padding-top: $spacing-small;
            margin-top: $spacing-tiny;

            @include mq($from: tablet) {
                border-top-width: 0;
                border-left-width: $spacing-tiny/2;
                padding-top: 0;
                margin-top: 0;
                margin-right: -$spacing-tiny/4;
            }
        }
    }

    &__date {
        color: $luigi-gray-dark;
    }

    &__signature {
        margin-top: $spacing-large;
        text-align: center;

        > img {
            display: inline-block;
            height: $spacing-huge;
            width: auto;
        }
    }

    h1, h2, h3,
    h4, h5, h6 {
        color: $luigi-blue;
    }
}