.c-input-group {
    display: flex;
    margin-bottom: $spacing;
    width: 100%;

    &__text {
        flex: 1 1 auto;
        margin-bottom: 0 !important;
        position: relative;
        z-index: 1;
        //border-radius: $spacing-large 0 0 $spacing-large;
    }

    &__btn {
        flex: 0 1 auto;
        //border-radius: 0 $spacing-large $spacing-large 0;
    }
}