.c-luigi-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    @include mq($from: tablet) {
        display: inline;
        width: 100%;
        max-width: 100%;
    }
}