.c-section {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;

    @include mq($from: tablet) {
        padding-top: $spacing-huge;
        padding-bottom: $spacing-huge;
    }

    &__title {
        margin-bottom: $spacing-large;
        text-align: center;
    }

    &:first-of-type {
        padding-top: $spacing-large;

        @include mq($from: tablet) {
            padding-top: $spacing-large + $spacing;
        }
    }

    &--primary {
        background: $luigi-green;
    }

    &--secondary {
        background: $luigi-blue;
    }

    &--tertiary {
        background: $luigi-brown;
    }

    &--subscribe {
        border-top: $spacing-small solid $luigi-brown-dark;

        a {
            color: $luigi-yellow;
        }
    }
}