.c-site-nav {
    background: $luigi-green-light;

    @include mq($from: desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: block;
        padding: $spacing;
        text-transform: uppercase;
        font-weight: 700;
        color: $luigi-green-darker;

        .c-icon {
            fill: $luigi-green-darker;
        }

        &:hover,
        &:focus {
            background: lighten($luigi-green-light, 5%);
        }

        @include mq($from: desktop) {
            
        }
    }
}