@keyframes bounce {
  0%, 90% {
    animation-timing-function: linear;
  }
  10% {
    animation-timing-function: cubic-bezier(0, 0.4, 0.6, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.4, 0, 1, 0.6);
  }
  0% {
    transform: translate(0%, 30%) scaleY(0.5);
  }
  10% {
    transform: translate(0%, 5%) scaleY(1.1);
  }
  50% {
    transform: translate(0%, -37%) scaleY(1.1);
  }
  90% {
    transform: translate(0%, 5%) scaleY(1.1);
  }
  100% {
    transform: translate(0%, 30%) scaleY(0.5);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.c-loader {
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms;
    z-index: 0;

    html.is-animating & {
        opacity: 1;
        z-index: 1000;
    }

    &__img {
        position: absolute;
        left: 50%;
        top: calc(50% + 4rem);
        width: $spacing-huge;
        height: $spacing-huge;
        margin-left: -$spacing-huge/2;
        background: url(/assets/img/luigi-hat.svg) no-repeat center center / contain;
        animation: rubberBand 1000ms infinite;
    }
}

