.c-card {
    margin-bottom: $spacing-large;
    padding: $spacing;
    border-radius: $global-radius;
    background: $luigi-white;
    color: $luigi-black;

    @include mq($from: tablet) {
        padding: $spacing-large;
    }

    &__meta {
        font-weight: 700;
        color: $luigi-gray-dark;
    }

    &__content {
        margin-bottom: $spacing-large;
    }

    &--light {
        color: $luigi-black;
        background: $luigi-white;
        
        h1, h2, h3,
        h4, h5, h6 {
            a {
                color: $luigi-blue;
            }
        }
    }

    &--dark {
        color: $luigi-white;
        background: $luigi-black;

        .c-section--primary & {
            background: $luigi-green-dark;
        }

        .c-section--secondary & {
            background: $luigi-blue-dark;
        }
    }

    &--important {
        background: $luigi-blue-dark !important;
    }

    &--centered {
        text-align: center;

        .c-card__content {
            text-align: left;
        }
    }

    &--equal-height {
        height: calc(100% - #{$spacing-large});
    }

    &--excerpt {
        display: flex;
        flex-direction: column;
        transition: all 400ms ease-in-out;

        &.is-hidden {
            opacity: 0;
            transform: scale(0.9);
        }

        .c-btn {
            margin-top: auto;
        }

        h1, h2, h3,
        h4, h5, h6 {
            margin-bottom: $spacing-tiny;
        }
    }
}