.c-article {
    @extend .c-card;
    @extend .c-card--light;
    margin-bottom: $spacing-large;

    &--single {
        @include mq($from: desktop) {
            padding-left: $spacing-huge;
            padding-right: $spacing-huge;
            @include inuit-font-size(20px);
        }
    }

    &__header {
        position: relative;
        padding-bottom: $spacing;
        margin-bottom: $spacing-large;
        
        text-align: center;

        @include mq($from: tablet) {
            padding-bottom: $spacing-large;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25%;
            width: 50%;
            height: $spacing-tiny;
            background: $luigi-gray-light;
        }
    }

    &__title {
        color: $luigi-blue;
    }

    &__meta {
        color: $luigi-gray-dark;
    }

    &__signature {
        margin-top: $spacing-large;
        text-align: center;

        > img {
            display: inline-block;
            height: $spacing-huge;
            width: auto;
        }
    }

    h1, h2, h3,
    h4, h5, h6 {
        color: $luigi-blue;
    }
}