.c-credit {
    position: relative;
    margin-bottom: $spacing;
    padding: $spacing;

    &__name {
        margin-bottom: $spacing-tiny;
        color: $luigi-blue;
    }

    &__title {
        margin-bottom: $spacing;
        color: $luigi-gray-dark;

        @include mq($from: desktop) {
            margin-bottom: 0;
        }
    }

    &__avatar {
        border-radius: $global-radius;
    }

    &__btn {
        @include mq($from: desktop) {
            position: absolute;
            top: 50%;
            margin-top: -$spacing;
            right: $spacing;
            padding: $spacing-small $spacing;
        }
    }
}