.c-site-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 75vw;
    padding-top: $spacing;
    transform: translateX(75vw);
    transition: transform 400ms ease-in-out;
    background: $luigi-green-light;

    @include mq($from: desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
        position: relative;
        width: auto;
        padding-top: 0;
    }

    &__item {
        display: block;
        padding-top: $spacing-small;
        padding-right: $spacing;
        padding-bottom: $spacing-small;
        padding-left: $spacing;
        text-transform: uppercase;
        font-weight: 700;
        color: $luigi-green-darker;

        @include mq($from: tablet) {
            padding: $spacing;
        }

        @include mq($from: desktop) {
            height: $spacing*3;
        }

        .c-icon {
            fill: $luigi-green-darker;
        }

        &:hover,
        &:focus {
            background: lighten($luigi-green-light, 5%);
        }
    }

    .nav-open & {
        transform: none;
    }
}


.c-site {
    transition: transform 400ms ease-in-out;

    .nav-open & {
        transform: translateX(-75vw);
    }
}

body.nav-open {
    .c-site {
        transform: translateX(-75vw);
    }

    .c-site-nav {
        transform: none;
    }
}