---
layout: default
---

<section id="page-content" class="c-section c-section--primary c-page-content u-padding-bottom">
    <div class="o-wrapper o-wrapper--large">
        <div class="o-grid o-grid--large u-margin-bottom">
            <div class="o-grid__cell u-1/1">
                <article class="c-article c-article--single">
                    <header class="c-article__header">
                        <h1 class="c-article__title">{{ page.title }}</h1>
                        <div class="c-article__meta">
                            <div class="o-grid o-grid--large o-grid--middle">
                                <div class="o-grid__item u-1/2">
                                    <p class="c-article__date u-margin-bottom-none">
                                        {{ page.date | date: '%B %d, %Y' }}
                                    </p>
                                </div>
                                <div class="o-grid__item u-1/2">
                                    <div class="c-meta">
                                        {% assign author = site.data.authors[page.author] %}
                                        <div class="o-flag o-flag--small">
                                            <div class="o-flag__img">
                                                <img alt="" src="{{ site.baseurl }}/assets/img/avatars/{{ author.avatar }}">
                                            </div>
                                            <div class="o-flag__body">
                                                <strong class="c-meta__author">{{ author.name }}</strong>
                                                in {{ page.categories[0] | capitalize }}
                                            </div>
                                        </div>         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    {{ content }}
                    <div class="c-article__signature">
                        <img alt="Luigi waving" data-src="/assets/img/luigi/luigi-wave.svg" class="lazy">
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="o-wrapper">
        <aside class="c-related-posts">
            <h2 class="u-margin-bottom-large u-text-center u-h1">Related Posts</h2>
            <div class="c-filter-posts">
                {% assign maxRelated = 2 %}
                {% assign minCommonTags = 1 %}
                {% assign maxRelatedCounter = 0 %}

                {% for post in site.posts %}

                    {% assign sameTagCount = 0 %}
                    {% assign commonTags = '' %}

                    {% for category in post.categories %}
                      {% if post.url != page.url %}
                        {% if page.categories contains category %}
                          {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% if sameTagCount >= minCommonTags %}
                      {% include article-card.html post=post %}
                      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                      {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                      {% endif %}
                    {% endif %}

                {% endfor %}
            </div>

            {% if maxRelatedCounter == 0 %}
                <p class="u-text-center u-h3 u-margin-bottom-large">
                    No related posts were found.
                </p>
            {% endif %}
        </aside>
    </div>
</section>

{% include newsletters.html viewmore="true" %}