---
layout: default
---

<section id="page-content" class="c-section c-section--primary c-page-content u-padding-bottom">
    <div class="o-wrapper o-wrapper--large">
        <div class="o-grid o-grid--large u-margin-bottom">
            <div class="o-grid__cell u-1/1">
                <article class="c-article c-article--single">
                    <header class="c-article__header">
                        <h1 class="c-article__title">{{ page.title }}</h1>
                        <p class="c-article__meta">
                            {{ page.date | date: '%B %d, %Y' }}
                        </p>
                    </header>
                    {{ content }}
                    <div class="c-article__signature">
                        <img alt="Luigi waving" data-src="/assets/img/luigi/luigi-wave.svg" class="lazy">
                    </div>
                </article>
                <aside class="c-related-posts">
                    <h2 class="u-margin-bottom-large u-text-center u-h1">Related Posts</h2>
                    <div class="o-grid o-grid--large">
                        {% for post in site.categories.newsletter limit:2 %}
                        <section class="o-grid__cell u-1/1 u-1/2@desktop">
                        {% include article-card.html title=post.title excerpt=post.excerpt url=post.url dark=true %}
                        </section>
                        {% endfor %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{% include newsletters.html viewmore="true" %}