---
layout: default
---

<section id="page-content" class="c-section c-section--primary c-page-content">
    <h1 class="u-hidden-visually">
        Luigi's Fan Game Gallery
    </h1>

    <div class="o-wrapper">
        <div class="o-grid o-grid--large u-margin-bottom">
            <div class="o-grid__cell u-1/1 u-1/2@tablet">
                <article class="c-card c-card--equal-height c-card--dark c-card--centered c-promo u-transition-zoom u-transition-zoom--left">
                    <h2 class="c-promo__title">
                        <i class="c-icon c-icon--emblem">
                            {% include icons/icon-forum.svg %}
                        </i>
                        The Forum
                    </h2>
                    <p class="c-card__content c-promo__content">Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!</p>
                    <a class="c-btn c-btn--large" href="#">Let&rsquo;s-a-Go</a>
                </article>
            </div>
            <div class="o-grid__cell u-1/1 u-1/2@tablet">
                <article class="c-card c-card--equal-height c-card--dark c-card--centered c-promo c-promo--important u-transition-zoom u-transition-zoom--right">
                    <h2 class="c-promo__title">
                        <i class="c-icon c-icon--emblem">
                            {% include icons/icon-discord.svg %}
                        </i>
                        The Discord
                    </h2>
                    <p class="c-card__content c-promo__content">Generate Lorem Ipsum placeholder text. Select the number of characters, words, sentences or paragraphs, and hit generate!</p>
                    <a class="c-btn c-btn--large" href="#">Let&rsquo;s-a-Go</a>
                </article>
            </div>
        </div>

        <div class="o-grid o-grid--large">
            <div class="o-grid__cell u-1/1 u-3/4@tablet u-2/3@desktop">
                <h2 class="c-section__title">
                    Luigi wants to play your fan games!
                </h2>

                <p>Luigi's Fan Game Gallery is a community dedicated to preserving and further developing the art of fan games. With our wide variety of skills and passions, we aim to bring each other's projects to life. We welcome contributors of any kind, including programmers, artists, musicians, writers, critics, and anyone else with great ideas. People of all skill levels are encouraged to join and hone their talents.</p>

                <p>Our journey started in the year 2000 with a humble Mario fan site. Now, almost two decades later, the community continues pushing forward. At-home video game development has never been more accessible than it is now, and our goal is to share as many resources as possible so you can build the game of your dreams. For more info about LFGG, click the link below.</p>

                <div class="u-text-center">
                    <a class="c-btn u-margin-top" href="/about">Learn More</a>
                </div>
            </div>

            <div class="o-grid__cell u-1/1 u-1/4@tablet u-1/3@desktop">
                <img alt="Luigi running and waving" src="/assets/img/luigi/running-waving.png">
            </div>
        </div>
    </div>
</section>

{% include newsletters.html viewmore="true" %}